### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste-botow-stron index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule oferta-tworzenie-botow-stron-pluginow oferta.html
RewriteRule cv-programista-java-js-html cv.html
RewriteRule kontakt-programista kontakt.html